body {
    background-color:aquamarine;
}

.content {
    background-color: lightsteelblue;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.message-box {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 100%;
}

.message {
    margin: 5px;
    background-color:white;
    width: 75%;
}

.message-header {
    font-size: smaller;
    background-color: lavender;
    padding: 3px;
}

.message-text {
    padding: 3px;
}

.message-form {
    padding: 10px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textbox {
    resize: none;
    width: 75% ;
    padding: 5px;
}

#send-button {
    justify-self: start;
    margin: 5px;
}

@media (min-width: 1200px) {
    .content {
        width:50%;
        margin:0 25% 0 25%;
    }
}
